/* custom CSS */
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.left-side-intro {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;

}

.welcome {
    font-family: cursive;
    font-weight: bolder;
    letter-spacing: 3px;
    padding: 0 3px 13px 3px;
}

.welcome span {
    font-family: 'Times New Roman';
    font-size: 64px;
}

/* intro video */
.video-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.video-wrapper iframe {
    vertical-align: middle;
    cursor: pointer;
    border: 3px solid transparent;
    border-image: linear-gradient(45deg, red, yellow);
    -o-border-image: linear-gradient(45deg, red, yellow);
    -moz-border-image: linear-gradient(45deg, red, yellow);
    -webkit-border-image: linear-gradient(45deg, red, yellow);
    border-image-slice: 1;
}


/* faq section start */

.faq-header {
    font-size: 15px;
    transition: 0.4s;
    color: white;
    background: rgb(194, 194, 194);
    border-bottom: 2px solid white;
}

.faq-header i {
    color: saddlebrown;
    transition: .5s;
}

.faq-header.active {
    cursor: pointer;
}

.faq-header.active i {
    color: seagreen;
    transition: all .5s;
}

.faq-body {
    padding: 0 18px;
    background-color: rgb(180, 168, 168);
    display: none;
    overflow: hidden;
    transition: all .5s;
}