/* custom CSS */
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* header */
@media(min-width:550px) {
    .toggle-btn {
        display: none;
    }
}

@media(max-width:550px) {
    .header-nav ul {
        display: none !important;
    }

    .toggle-btn {
        position: fixed;
        right: 15px;
        z-index: 10000;
        top: 10px;
        font-size: 26px;

    }

    nav.show {
        padding: 10px 0;
        margin-top: 190px;
        background-color: rgb(246, 249, 255);
        width: 100%;
        position: absolute;
        left: 0;
        align-items: center;
        justify-content: center;
    }

    nav.show>ul {
        display: inline-block !important;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    nav.show>ul li {
        text-align: center;
        line-height: 40px;
    }

    nav.show>ul li:hover {
        color: white;
        background-color: rgb(4, 114, 28);
    }
}

.left-side-intro {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;

}

.welcome {
    font-family: cursive;
    font-weight: bolder;
    letter-spacing: 3px;
    padding: 0 3px 13px 3px;
}

.welcome span {
    font-family: 'Times New Roman';
    font-size: 64px;
}

/* intro video */
.video-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.video-wrapper iframe {
    vertical-align: middle;
    cursor: pointer;
    border: 3px solid transparent;
    border-image: linear-gradient(45deg, red, yellow);
    -o-border-image: linear-gradient(45deg, red, yellow);
    -moz-border-image: linear-gradient(45deg, red, yellow);
    -webkit-border-image: linear-gradient(45deg, red, yellow);
    border-image-slice: 1;
    min-width: 100%;
    height: 340px;
}

/* faq section start */
.faq-content {
    transition: all .25s ease-in-out;
}

.faq-header {
    font-size: 15px;
    transition: 0.4s;
    color: white;
    background-color: rgb(125, 151, 141);
    border-bottom: 2px solid white;
}

.faq-header i {
    color: saddlebrown;
    transition: .5s;
}

.faq-header.active {
    cursor: pointer;
}

.faq-header.active i {
    color: seagreen;
    transition: all .5s;
}

.faq-body {
    padding: 0 18px;
    background-color: rgb(107, 107, 134);
    color: white;
    display: none;
    overflow: hidden;
    text-align: justify;
}