/* custom CSS */
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* header */
@media(min-width:550px) {
    .toggle-btn {
        display: none;
    }
}

@media(max-width:550px) {
    .header-nav ul {
        display: none !important;
    }

    .toggle-btn {
        position: fixed;
        right: 15px;
        z-index: 10000;
        top: 10px;
        font-size: 26px;

    }

    nav.show {
        padding: 10px 0;
        margin-top: 190px;
        background-color: rgb(246, 249, 255);
        width: 100%;
        position: absolute;
        left: 0;
        align-items: center;
        justify-content: center;
    }

    nav.show>ul {
        display: inline-block !important;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    nav.show>ul li {
        text-align: center;
        line-height: 40px;
    }

    nav.show>ul li:hover {
        color: white;
        background-color: rgb(4, 114, 28);
    }
}

.left-side-intro {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;

}

.welcome {
    font-family: cursive;
    font-weight: bolder;
    letter-spacing: 3px;
    padding: 0 3px 13px 3px;
}

.welcome span {
    font-family: 'Times New Roman';
    font-size: 64px;
}

/* Search**/
#mainsearch {
    display: inline-block;
    position: absolute;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    top: 0;
    right: 0%;
    color: #fff;
    background-color: #81c408;
    border-radius: 50rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    height: 100%;
    border-width: 2px;
    border-color: #ffb524;
    font-weight: 600;
    cursor: pointer;
}

.resultBox {
    position: absolute;
    width: 100%;
    display: none;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 600;
}

.searchDiv input:active .resultBox {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.resultBox li {
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.resultBox li:hover {
    background: #efefef;
}

/* Search**/
/* intro video */
.video-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.video-wrapper iframe {
    vertical-align: middle;
    cursor: pointer;
    border: 3px solid transparent;
    border-image: linear-gradient(45deg, red, yellow);
    -o-border-image: linear-gradient(45deg, red, yellow);
    -moz-border-image: linear-gradient(45deg, red, yellow);
    -webkit-border-image: linear-gradient(45deg, red, yellow);
    border-image-slice: 1;
    min-width: 100%;
    height: 340px;
}

.dashboardbackground {
    position: relative;
    display: flex;
    object-fit: cover;
    -o-object-fit: cover;
    width: 100%;
    z-index: 1;
}

.dashboardbackground video {
    z-index: 0;
    width: 100%;
    height: 100%;
}

.dashboardbackground .card-body {
    position: absolute;
    display: flex;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100%;
    align-items: center;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    line-height: 2rem;
}

@media(max-width:600px) {
    .dashboardbackground .card-body {
        font-size: 0.8rem;
        line-height: 1rem;
    }
}

/* faq section start */
.faq-content {
    transition: all .25s ease-in-out;
}

.faq-header {
    font-size: 15px;
    transition: 0.4s;
    color: white;
    background-color: rgb(125, 151, 141);
    border-bottom: 2px solid white;
}

.faq-header i {
    color: saddlebrown;
    transition: .5s;
}

.faq-header.active {
    cursor: pointer;
}

.faq-header.active i {
    color: seagreen;
    transition: all .5s;
}

.faq-body {
    padding: 0 18px;
    background-color: rgb(107, 107, 134);
    color: white;
    display: none;
    overflow: hidden;
    text-align: justify;
}